
@{
    ViewBag.Title = "About";
}

@section About{
    @Html.Raw("activee")
}
    <div class="row no-gutters slider-text align-items-end">
        <div class="col-md-9 ftco-animate ">
            <h1 class="mb-0 bread">Möbel aus Edelstahl</h1>
        </div>
    </div>
<section class="hero-wrap hero-wrap-2 mobilSection" style="background-image: url('../../Content/images/Adsız1.png');" >
    <div class="container">
        
    </div>
</section>
<div class="row">


    <div class="col-md-12 pb-5">
        <br />
        Bezüglich Edelstahllösungeneinbau haben wir unsere Aktivitäten seit 2006 weiter ausgebaut, indem wir unser Produktionsband einschließlich der Produktion von Edelstahlmöbeln mit der Marke HRP Furniture erweitert haben.

        Mit mehr als 14 Jahren Erfahrung arbeiten unsere erfahrene Personal, Qualitätsdesignteam, fachkundigem Produktionseinrichtungsteam und Feldteam an den Brückenprojekten, an den Schienensystemen, an den Balkonen, an den Fransen-Markenanwendungen und an einer großen Auswahl der Architekturprojekte. Aufgrund der steigenden Nachfrage und Bestellungen, die vor etwa 3 Jahren begannen, begann HRP Furniture die Produktion der eigenen Kollektion. Neben dem ständig wachsenden Kollektionskatalog bieten wir auch Lösungen auf spezielle Designaufträge unserer Kunden mit der Agilität unserer Projekterfahrung.

        Starke Nachfragen aus Ausland, besonders die USA und Europa, steigen auch in dem Inlandsmarkt. Unsere Ziel ist die erste und die beste Edelstahlmöbelmarke der Türkei zu werden und unsere Produkte weltweit zu exportieren.
    <br />

    </div>
</div>

