
@{
    ViewBag.Title = "Galeri";
}

@section Galeri{
    @Html.Raw("activee")
}
<section class="hero-wrap hero-wrap-2" style="background-image: url('../../Content/images/galeri.jpg');" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <h1 class="mb-0 bread">BILDERGALLERIE</h1>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<div class="row">

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/ic-mekan-urunleri-652x710-1.jpg');">
            <a href="~/Content/HRP/Galeri/ic-mekan-urunleri-652x710-1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/aydinlatma-urunleri-652x554-1.jpg');">
            <a href="~/Content/HRP/Galeri/aydinlatma-urunleri-652x554-1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/kent-mobilyalari-652x554-1.jpg');">
            <a href="~/Content/HRP/Galeri/kent-mobilyalari-652x554-1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/bahce-mobilyalari-1-652x811-1.jpg');">
            <a href="~/Content/HRP/Galeri/bahce-mobilyalari-1-652x811-1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/3-1_1.jpg');">
            <a href="~/Content/HRP/Galeri/3-1_1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/banyo-urunleri_1-652x714-1.jpg');">
            <a href="~/Content/HRP/Galeri/banyo-urunleri_1-652x714-1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/4_1.jpg');">
            <a href="~/Content/HRP/Galeri/4_1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/awee_1.jpg');">
            <a href="~/Content/HRP/Galeri/awee_1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/sahne1_1.jpg');">
            <a href="~/Content/HRP/Galeri/sahne1_1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/sahne2_1.jpg');">
            <a href="~/Content/HRP/Galeri/sahne2_1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/sahne2_1080_1080_1.jpg');">
            <a href="~/Content/HRP/Galeri/sahne2_1080_1080_1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/sahne3_1.jpg');">
            <a href="~/Content/HRP/Galeri/sahne3_1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/pergole-06_1.jpg');">
            <a href="~/Content/HRP/Galeri/pergole-06_1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010997.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010997.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010985.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010985.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010981.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010981.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010974.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010974.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010963.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010963.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010961.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010961.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010956.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010956.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010953.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010953.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010952.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010952.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010944.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010944.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010942.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010942.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010935.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010935.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010937.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010937.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010925.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010925.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010920.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010920.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010918.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010918.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010909.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010909.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010908.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010908.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010904.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010904.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010854.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010854.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010858.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010858.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010838.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010838.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010832.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010832.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010826.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010826.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010811.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010811.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010817.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010817.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010798.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010798.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010782.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010782.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/düzenlenen/XT2_I_010991 kopya.jpg');">
            <a href="~/Content/HRP/Galeri/düzenlenen/XT2_I_010991 kopya.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>
    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/XT2_I_010765.jpg');">
            <a href="~/Content/HRP/Galeri/XT2_I_010765.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/Galeri/pergole-04_1.jpg');">
            <a href="~/Content/HRP/Galeri/pergole-04_1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>

        </div>
    </div>




</div>

