
@{
    ViewBag.Title = "LeatherOptions";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('../../Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/NONAFR610.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <h1 class="mb-0 bread">OPTIONEN FÜR LEDERPOLSTER</h1>
            </div>
        </div>
    </div>
</section>
<div class="row mobilAhsap" style="margin-left:20px; padding-top:20px">



    <div class="col-md-4 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/NONAFR610.jpg'); width:300px; height:300px">
            <a href="~/Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/NONAFR610.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>
            <div class="desc w-100 ">
                <div class="text w-100 mb-3">
                    <span>  NONA FR 610</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/Retro1231.jpg'); width:300px; height:300px">
            <a href="~/Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/Retro1231.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>
            <div class="desc w-100 ">
                <div class="text w-100 mb-3">
                    <span> RETRO 1231 </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/Retro1301.jpg'); width:300px; height:300px">
            <a href="~/Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/Retro1301.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>
            <div class="desc w-100 ">
                <div class="text w-100 mb-3">
                    <span>  RETRO 1301 </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/RETRO1316.jpg'); width:300px; height:300px">
            <a href="~/Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/RETRO1316.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>
            <div class="desc w-100 ">
                <div class="text w-100 mb-3">
                    <span> RETRO 1316 </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/retro1521.jpg'); width:300px; height:300px">
            <a href="~/Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/retro1521.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>
            <div class="desc w-100 ">
                <div class="text w-100 mb-3">
                    <span> RETRO 1521  </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/RETRO1901.jpg'); width:300px; height:300px">
            <a href="~/Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/RETRO1901.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>
            <div class="desc w-100 ">
                <div class="text w-100 mb-3">
                    <span>  RETRO 1901 </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/SantaGlory275.jpg'); width:300px; height:300px">
            <a href="~/Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/SantaGlory275.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>
            <div class="desc w-100 ">
                <div class="text w-100 mb-3">
                    <span>   SANTA GLORY 275 </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/SantaGlory480.jpg'); width:300px; height:300px">
            <a href="~/Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/SantaGlory480.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>
            <div class="desc w-100 ">
                <div class="text w-100 mb-3">
                    <span>  SANTA GLORY 480 </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/SantaGlory525.jpg'); width:300px; height:300px">
            <a href="~/Content/HRP/tamamlayiciurun/DeriDosemeSecenekleri/SantaGlory525.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>
            <div class="desc w-100 ">
                <div class="text w-100 mb-3">
                    <span>  SANTA GLORY 525 </span>
                </div>
            </div>
        </div>
    </div>
</div>


