
@{
    ViewBag.Title = "MetalColor";
}

<section class="hero-wrap hero-wrap-2 mobilSection mobilicMekan" style="background-image: url('../../Content/images/Adsız1.png');">
    <div class="container">
        
    </div>
</section>
<div class="row no-gutters slider-text align-items-end">
    <div class="col-md-9 ftco-animate pb-5">
        <h1 class="mb-0 bread">METALLFARBE OPTIONEN</h1>
    </div>
</div>
<div class="row mobilMetal" style=" padding-top:20px">



    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/natursatine.jpg'); width:250px; height:300px">
            <a href="~/Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/natursatine.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>
            <div class="desc w-100 ">
                <div class="text w-100 mb-3">
                    <span>   NATUR–SATIN</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/naturparlak.jpg'); width:250px; height:300px">
            <a href="~/Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/naturparlak.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>
            <div class="desc w-100 ">
                <div class="text w-100 mb-3">
                    <span>  NATUR–POLIERT</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/goldsatine.jpg'); width:250px; height:300px">
            <a href="~/Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/goldsatine.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>
            <div class="desc w-100 ">
                <div class="text w-100 mb-3">
                    <span>  GOLD–SATIN</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/goldparlak.jpg'); width:250px; height:300px">
            <a href="~/Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/goldparlak.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>
            <div class="desc w-100 ">
                <div class="text w-100 mb-3">
                    <span> GOLD–POLIERT</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/bronzsatine.jpg'); width:250px; height:300px">
            <a href="~/Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/bronzsatine.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>
            <div class="desc w-100 ">
                <div class="text w-100 mb-3">
                    <span>  ROTGOLD–SATIN</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/bronzparlak.jpg'); width:250px; height:300px">
            <a href="~/Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/bronzparlak.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>
            <div class="desc w-100 ">
                <div class="text w-100 mb-3">
                    <span>    ROTGOLD–POLIERT</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/blacksatine.jpg'); width:250px; height:300px">
            <a href="~/Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/blacksatine.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>
            <div class="desc w-100 ">
                <div class="text w-100 mb-3">
                    <span>   SCHWARZ-SATIN</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/blackparlak.jpg'); width:250px; height:300px">
            <a href="~/Content/HRP/tamamlayiciurun/MetalRenkSecenekleri/blackparlak.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>
            <div class="desc w-100 ">
                <div class="text w-100 mb-3">
                    <span>   SCHWARZ–POLIERT</span>
                </div>
            </div>
        </div>
    </div>
</div>