
@{
    ViewBag.Title = "WoodType";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('../../Content/HRP/tamamlayiciurun/Ahsaptipisecenekleri/AbanozKahve.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <h1 class="mb-0 bread">HOLZTYP OPTIONEN</h1>
            </div>
        </div>
    </div>
</section>
<div class="row mobilAhsap" style="margin-left:20px; padding-top:20px">



    <div class="col-md-4 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/tamamlayiciurun/Ahsaptipisecenekleri/TeakHareli.jpg'); width:300px; height:300px">
            <a href="~/Content/HRP/tamamlayiciurun/Ahsaptipisecenekleri/TeakHareli.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>
            <div class="desc w-100 ">
                <div class="text w-100 mb-3">
                    <span> TEAK MORE</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/tamamlayiciurun/Ahsaptipisecenekleri/platinium.jpg'); width:300px; height:300px">
            <a href="~/Content/HRP/tamamlayiciurun/Ahsaptipisecenekleri/platinium.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>
            <div class="desc w-100 ">
                <div class="text w-100 mb-3">
                    <span> PLATIN </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/tamamlayiciurun/Ahsaptipisecenekleri/pelenksHareli.jpg'); width:300px; height:300px">
            <a href="~/Content/HRP/tamamlayiciurun/Ahsaptipisecenekleri/pelenksHareli.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>
            <div class="desc w-100 ">
                <div class="text w-100 mb-3">
                    <span> PALISANDERHOLZ MOIRE </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/tamamlayiciurun/Ahsaptipisecenekleri/MeseExtra.jpg'); width:300px; height:300px">
            <a href="~/Content/HRP/tamamlayiciurun/Ahsaptipisecenekleri/MeseExtra.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>
            <div class="desc w-100 ">
                <div class="text w-100 mb-3">
                    <span> EICHENHOLZ EXTRA </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/tamamlayiciurun/Ahsaptipisecenekleri/KalinDamarMese.jpg'); width:300px; height:300px">
            <a href="~/Content/HRP/tamamlayiciurun/Ahsaptipisecenekleri/KalinDamarMese.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>
            <div class="desc w-100 ">
                <div class="text w-100 mb-3">
                    <span> DICKE MASERUNG EICHENHOLZ </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 ftco-animate">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url('../../Content/HRP/tamamlayiciurun/Ahsaptipisecenekleri/AbanozKahve.jpg'); width:300px; height:300px">
            <a href="~/Content/HRP/tamamlayiciurun/Ahsaptipisecenekleri/AbanozKahve.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                <span class="fa fa-expand"></span>
            </a>
            <div class="desc w-100 ">
                <div class="text w-100 mb-3">
                    <span>  EBENHOLZ BRAUN </span>
                </div>
            </div>
        </div>
    </div>
</div>



